{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
         {% if user.is_lecturer  %}
           <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">Add Course</h5>
                    <div class="card-body">
                      <div>
                         <form method="POST">
                        {% csrf_token %}
                        {{form_course|crispy}}
                        <input class="btn btn-secondary mt-4" name="course_form" id="course_form" type="submit" value="save">
                    </form>
                      </div>
                    </div>
                  </div>
                </div>
            <hr class="my-5" />
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Course</h4>

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Table Basic</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Course</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for q_course in lecturer_course %}
                      <tr>

                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ q_course.name }}</strong></td>

                            <td>
                              <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url "account:course-update" q_course.id %}"
                                    ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                  >
                                  <a class="dropdown-item" href="{% url "account:course-delete" q_course.id%}"
                                    ><i class="bx bx-trash me-1"></i> Delete</a
                                  >
                                </div>
                              </div>
                            </td>

                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

            </div>
         {% elif user.is_superuser %}
             <h1>hello {{user.first_name}}{{user.last_name}}</h1>
             <a href="{% url 'account:train' %}" class="btn btn-success">
                   <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; Training Model
             </a>
             <a href="/admin/" class="btn btn-primary">
                   <span class="tf-icons bx bxs-dashboard"></span>&nbsp; Admin Dashboard
             </a>
         {% else %}
            <div class="col-md-12">
                              <div class="card mb-4">
                                <h5 class="card-header">Register</h5>
                                <div class="card-body">
                                  <div>
                                     <form method="POST">
                                    {% csrf_token %}
                                    {{form_attendance|crispy}}
                                    <input class="btn btn-secondary mt-4" id="attendance" name="attendance" type="submit" value="save">
                                </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                        <hr class="my-5" />
                        <div class="container-xxl flex-grow-1 container-p-y">
                          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Course</h4>

                          <!-- Basic Bootstrap Table -->
                          <div class="card">
                            <h5 class="card-header">Your Course</h5>
                            <div class="table-responsive text-nowrap">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Course</th>
                                    <th>Teacher</th>
                                    <th>Presence</th>
                                  </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                {% for q_course in course %}
                                  <tr>

                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ q_course.course.name }}</strong></td>
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ q_course.course.lecturer }}</strong></td>

                                        <td>
                                          <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                              <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                              <a class="dropdown-item" href="{% url "account:return-course" q_course.id %}"
                                                ><i class="bx bx-edit-alt me-1"></i>Return</a
                                              >

                                            </div>
                                          </div>
                                        </td>

                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>


            </div>
         {% endif %}

{% endblock body %}